table {
  border-collapse: collapse;
  max-width: 650px;
  margin: auto;
}

thead {
  background: #ccc;
}

th, td {
  text-align: center;
  border: 1px solid gray;
}
tbody tr:nth-child(even) {
  background: #f2f2f2;
}